# Ignore node_modules
**/node_modules

# Ignore build outputs
**/dist
**/build

# Ignore environment variables
**/.env

# Ignore logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Ignore IDE specific files
**/.idea
**/.vscode
**/.DS_Store

# Ignore TypeScript cache
**/.tsbuildinfo

# Ignore compiled JavaScript files
# **/frontend/**/*.js
# **/frontend/**/*.jsx
# **/backend/**/*.js
# **/backend/**/*.jsx

# Ignore miscellaneous
**/coverage
**/.cache
